<section class="spinner-container" *ngIf="loading" style="z-index:99999999;">
  <mat-spinner></mat-spinner>
</section>
<div class="login-container">
  <mat-card class="item-card">
    <mat-card-title class="text-center">
      <figure class="logo">
        <img src="../../assets/images/logo.png" alt="logo" style="    border-radius: 46px;" />
      </figure>
      <figcaption class="text-center">
        <h2 class="sub-title">{{'ACCOUNT.REGISTER.TITLE' | translate}}</h2>
      </figcaption>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="itemForm" #loginNgForm="ngForm" (ngSubmit)="onSubmit()" class="item-form">

					  		 
	  			<mat-form-field>
	  				<input formControlName="createdAt" matInput [matDatepicker]="createdAtPicker" placeholder="Enter createdAt">
	  				<mat-datepicker-toggle matSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
	  				<mat-datepicker #createdAtPicker></mat-datepicker>
	  			</mat-form-field>
	  			<div class="time-container mat-form-field">
						<label class="lable-inline">createdAtTime</label>
						<ngx-timepicker-field #timePicker formControlName="createdAtTime">
						</ngx-timepicker-field>
					</div>
	  		 
	  			<mat-form-field>
	  				<input formControlName="email" matInput placeholder="Enter email">
	  				<mat-error *ngIf="!itemForm.get('email').valid && itemForm.get('email').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>
	  		 
	  			<mat-form-field>
	  				<input formControlName="firstName" matInput placeholder="Enter firstName">
	  				<mat-error *ngIf="!itemForm.get('firstName').valid && itemForm.get('firstName').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>
	  		 
	  		 
	  		 
	  		 
	  			<mat-form-field>
	  				<input formControlName="lastName" matInput placeholder="Enter lastName">
	  				<mat-error *ngIf="!itemForm.get('lastName').valid && itemForm.get('lastName').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>
	  		 
	  			<mat-form-field>
	  				<input type="password" formControlName="password" matInput placeholder="Enter password">
	  				<mat-error *ngIf="!itemForm.get('password').valid && itemForm.get('password').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>
					<mat-form-field>
						<input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"
							pattern="{{ itemForm.get('confirmPassword').value }}">
						<mat-error
							*ngIf="!itemForm.get('confirmPassword').valid && itemForm.get('confirmPassword').touched">
							{{'GENERAL.ERRORS.PASSWORD-MISMATCH' | translate}}
						</mat-error>
					</mat-form-field>
	  		 
	  			<mat-form-field>
	  				<input formControlName="phoneNumber" matInput placeholder="Enter phoneNumber">
	  			</mat-form-field>
	  		 
	  			<mat-form-field>
	  				<input formControlName="role" matInput placeholder="Enter role">
	  				<mat-error *ngIf="!itemForm.get('role').valid && itemForm.get('role').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>
	  		 
	  			<mat-form-field>
	  				<input formControlName="updatedAt" matInput [matDatepicker]="updatedAtPicker" placeholder="Enter updatedAt">
	  				<mat-datepicker-toggle matSuffix [for]="updatedAtPicker"></mat-datepicker-toggle>
	  				<mat-datepicker #updatedAtPicker></mat-datepicker>
	  			</mat-form-field>
	  			<div class="time-container mat-form-field">
						<label class="lable-inline">updatedAtTime</label>
						<ngx-timepicker-field #timePicker formControlName="updatedAtTime">
						</ngx-timepicker-field>
					</div>
	  		 
	  			<mat-form-field>
	  				<input formControlName="username" matInput placeholder="Enter username">
	  				<mat-error *ngIf="!itemForm.get('username').valid && itemForm.get('username').touched">{{'GENERAL.ERRORS.REQUIRED' | translate}}</mat-error>
	  			</mat-form-field>

        <mat-card-actions class="item-action text-center">
          <button name="save" mat-raised-button color="primary" class="btn-submit">
            {{'ACCOUNT.REGISTER.TITLE' | translate}}
          </button>
        </mat-card-actions>
        <span [innerHTML]="'ACCOUNT.REGISTER.LOGIN-MESSAGE' | translate" [routerLink]="['/login']" style="text-align: center">
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>